.github
.husky
.vscode
config/
dist/
node_modules/
public/
.commitlintrc.json
.env.local
.env.production
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
.stylelintrc
Dockerfile
index.html
lint-staged.config.js
package.json
postcss.config.cjs
README.md
tailwind.config.cjs
tsconfig.json
tsconfig.tsbuildinfo
vite.config.ts
yarn.lock
