.github
.husky
.vscode
dist/
node_modules/
public/
.commitlintrc.json
.env.local
.env.production
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
.stylelintrc
Dockerfile
index.html
lint-staged.config.js
postcss.config.cjs
README.md
tailwind.config.cjs
tsconfig.tsbuildinfo
yarn.lock
